.about-me {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    padding: 80px 10%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .about-me .head1 {
    text-align: center;
    color: white;
    font-size: 100px;
    font-weight: 700;
    padding: 10px 0px;
  }
  .about-me .head2 {
    color: var(--color-2);
    font-size: 25px;
    font-weight: 700;

  }
  footer{
      background-color: #545454;
      color: white;
    padding: 40px 20%;
 
  }

  footer .head1{
       font-size: 30px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: 700;
       border-bottom: 4px solid var(--color-1);
       display: flex;
       justify-content: center;
       padding-bottom: 15px;
       /* margin-left: 80px; */
      }


  .nav2,.nav2 ul{
      display: flex;
      width: 100%;

  }.nav2 ul{
      padding: 30px 0px;
      justify-content: space-evenly;
      /* flex-wrap:wrap; */
  }
  .nav2 ul li{
    /* text-align: center; */

  }
  .nav2 ul li a{
      text-decoration: none;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-weight: 700;
      font-size: 20px;
      width: 100%;
  }
  .nav2 ul li a:hover{
      font-size: 25px;
      color: var(--color-1);
  }

  @media(max-width: 800px) {
      .about-me {
    padding: 30px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
      .about-me .head1 {
    font-size: 50px;
  }
  .about-me .head2 {   
    font-size: 20px;
    text-align: center;
  }
  footer{
      background-color: #545454;
      color: white;
    /* padding: 40px 5px; */
 
  }
  footer .head1{
      text-align: center;
      margin-left: 0px;

  }
  }

  @media (max-width:550px) {
    .nav2 ul{
      padding: 30px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;
  }

  .nav2 ul li{
    padding: 5px 0px ;
  }

  }