  body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: white;
    }
    * {
      /* box-sizing: border-box; */
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: black;
    }

    .container {
      margin: auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .align-items-center {
      align-items: center;
    }
    .justify-content-between {
      justify-content: space-between;
    }

    .header {
      background-color: white;
      padding: 12px 0;
      line-height: 1.5;
    }

    .header .logo,
    .header .nav {
      padding: 0 15px;
      /* font-size: 25px; */
    }

    .header .logo a {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
    }

    .header .nav ul li {
      display: inline-block;
      margin-left: 40px;
    }

    .header .nav ul li a {
      display: block;
      font-size: 18px;
      text-transform: capitalize;
      color: var(--color-2);
      padding: 10px 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 700;
      text-align: right;
      /* transform: all 0.5s ease; */
      
    }

    .header .nav ul li a.active{
      /* color: var(--color-1); */
      border-bottom: 4px solid var(--color-1);
      font-size: 25px;
    }
    .header .nav ul li a:hover{
        font-size: 25px;
        /* transform: translateY(150px); */
        transition: all 0.9s ease-in-out 0.1s;
    }

    .nav-toggler {
      height: 34px;
      width: 44px;
      background-color: var(--color-1);
      border-radius: 5px;
      cursor: pointer;
      border: none;
      margin-right: 15px;
      display: none;
    }

    .nav-toggler:focus {
      /* outline: none; */
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }

    .nav-toggler span {
      height: 2px;
      width: 20px;
      background-color: white;
      display: block;
      margin: auto;
      position: relative;
      transition: all 0.3s ease;
    }

    .nav-toggler span::before,
    .nav-toggler span::after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: white;
      transition: all 0.3s ease;
    }

    .nav-toggler span::before {
      transform: translateY(-6px);
    }
    .nav-toggler span::after {
      transform: translateY(6px);
    }

    .nav-toggler.active span::before {
      transform: rotate(45deg);
    }
    .nav-toggler.active span::after {
      transform: rotate(135deg);
    }

    .nav-toggler {
      display: none;
    }

    @media (max-width: 991px) {
      .nav-toggler {
        display: block;
      }
      .header .nav {
        width: 100%;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
      }
      .header .nav.open {
        visibility: visible;
      }
      .header .nav ul {
        padding: 12px 15px 0;
        margin-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        
      }

      .header .nav ul li {
        display: block;
        margin: 0;
      }

      /* #mylogoimg{
        height: 50px;
      } */
    }

    .nav-toggler.active span {
      background-color: transparent;
    }
    #mylogoimg{
        height: 50px;
      }
