
    *{
        margin: 0;
        padding: 0;
    }
    .skills-container{
        display: flex;
        flex-direction: column;
        background-color: black;
        padding: 50px 0px;
    }
    .skills-container .head0{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        padding: 10px;
        color: white;
    }
    .card-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  .my-card{
    border: 1px solid black;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
  }
  .my-card #card-image{
    margin: 10px;
      width: 90%;
      
  }
  .my-card hr{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(235, 235, 235);
  }
  .card-data{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .card-data .head1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
  }
  .card-data .head2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }
  .card-data .head3{
    padding: 10px;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  }
  .card-data .head3 button{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 20px;
    padding: 3px 10px;
  }
  .card-data .head3 button a{
    text-decoration: none;
    color: inherit;
  }
  
  .my-card:hover{
    transform: translate(0px, 10px);
    box-shadow: 10px 10px 40px 10px #888888b2;
    transition: all 0.5s linear 0s;
  }
  .my-card .card-data .head3 button:hover{
    transform: scale(1.2);
  }


  #card-1 .card-data .head1 , #card-1 .card-data .head3 button{
    color: var(--card-color1);
    
  }
  #card-1 .card-data .head3 button,#card-1 {
    border: 1px solid var(--card-color1);
  }


  #card-2 .card-data .head1 , #card-2 .card-data .head3 button {
    color: var(--card-color2);
  }
  #card-2 .card-data .head3 button ,#card-2{
    border: 1px solid var(--card-color2);
  }

  #card-3 .card-data .head1,#card-3 .card-data .head3 button{
    color: var(--card-color3);
  }
  #card-3 .card-data .head3 button , #card-3{
    border: 1px solid var(--card-color3);
  }

  #card-4 .card-data .head1 ,#card-4 .card-data .head3 button {
    color: var(--card-color4);
  }
  #card-4 .card-data .head3 button,#card-4 {
    border: 1px solid var(--card-color4);
  }


  #card-5 .card-data .head1 ,#card-5 .card-data .head3 button {
    color: var(--card-color5);
  }
  #card-5 .card-data .head3 button ,#card-5{
    border: 1px solid var(--card-color5);
  }
  #card-6 .card-data .head1 , #card-6 .card-data .head3 button {
    color: var(--card-color6);
  }
  #card-6 .card-data .head3 button ,#card-6 {
    border: 1px solid var(--card-color6);
  }

  #card-7 .card-data .head1 , #card-7 .card-data .head3 button {
    color: var(--card-color7);
  }
  #card-7 .card-data .head3 button ,#card-7{
    border: 1px solid var(--card-color7);
  }
  #card-8 .card-data .head1 , #card-8 .card-data .head3 button {
    color: var(--card-color8);
  }
  #card-8 .card-data .head3 button , #card-8{
    border: 1px solid var(--card-color8);
  }